#all-comments {
  padding-top: 2em;

  .reply-form {
    margin-bottom: 1em;
    padding-right: 0.5em;
  }
}

#article-comments {
  h1 {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px dotted $gray-main;
    padding-bottom: 0.25em;
    margin-bottom: 0.5em;
  }
}

.comment {
  border-left: 1px solid $gray-main;
  border-right: 2px solid $gray-main;
  padding-top: 0.5em;
  padding-left: 1.5em;

  .reply {
    padding-bottom: 0.5em;
    color: $gray-main;


    .button:hover {
      color: $orange-main;
      cursor: pointer;
    }

    span.oi {
      font-size: 50%;
      margin-right: 0.5em;
    }
  }

  .body {
    padding-top: 0.25em;
  }
}

#article-comments form,
.reply-form form {
  margin: 0;
  text-align: left;

  input,
  textarea {
    margin: 0;
    font-size: 0.75em;
  }
}

.hidden {
  display: none;
}
