@import 'constants';

form {
  width: 100%;
  font-size: 1.25em;

  @media screen and (min-width: $break-mid) {
    width: auto;
    text-align: right;
    max-width: 1000px;
    margin: 0 auto;
    padding-right: 18%;
  }
}

form .input {
  padding-bottom: 0.75em;
}


form .label-and-hints {
  padding-bottom: 0.25em;
  @media screen and (min-width: $break-mid) {
    display: inline-block;
    padding: 0;
    position: relative;
  }
}

form label {
  @media screen and (min-width: $break-mid) {
    // display: block;
    // margin-bottom: -0.5em;
  }
}

form .error {
  &:before {
    content: " ";
  }

  font-style: italic;
  color: $error-color;

  @media screen and (min-width: $break-mid) {
    position: absolute;
    font-size: 0.75em;
    right: 0;
    top: 1.5em;
    width: 900px;
  }
}


form input,
form textarea {
  width: 100%;
  font: inherit;
  border: 1px solid $black-main;
  outline: none;
  padding: 0.25em;
  resize: none;

  &:focus {
    border: 1px solid $orange-main;
  }

  @media screen and (min-width: $break-mid) {
    width: 50%;
    margin-left: 5%;
  }
}


form input[type="submit"] {
  border: 1px solid $orange-main;
  color: $orange-main;
  background: none;

  &:hover {
    background-color: $orange-main;
    color: $white-main;
  }

  @media screen and (min-width: $break-mid) {
    display: block;
    margin-left: auto;
    margin-right: -1px;
    padding: 0.25em 3em;
    width: auto;
  }
}
