/*
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'reset';

$orange-main: #e65c16;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 2em;
}

header {
  font-family: monospace;
  margin-bottom: 1em;
  border-left: 0.5em solid $orange-main;
  padding: 0.5em;
  padding-left: 1em;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.25em;
}

.article {
  padding: 0.5em 0;
}

.article .num {
  font-family: monospace;
  padding-right: 1em;
  font-size: 2em;
}

.article:not(:last-of-type) {
  border-bottom: 1px dotted #aaa;
}

.article a span {
  font-size: 0.75em;
}

.article-detail {
  border-left: 1px dotted #aaa;
  padding: 1em;
}

h2.title {
  display: inline;
  font-size: 1.25em;
}

a {
  text-decoration: none;
}

a, a:visited {
  text-decoration: none;
  color: $orange-main;
}

a:hover {
  background-color: rgba(168, 168, 168, 0.49);
}

#errors {
  margin: 0 auto;
  text-align: center;
}

#errors .alert {
  background-color: #ffeeba;
  border-radius: 1em;
  text-align: center;
  padding: 0.25em 0.5em;
}
